h1 {
color: white ;
font-family: 'Lexend Mega', sans-serif;
font-size: 38px

}


img {
  border-radius: 60%;
  border-style: none;
  border-width: 4px;
  border-color: #C44354
}


 .custom-div {
  width: 600px;
  margin: 10px auto;
    background: #C44354;
    padding: 30px;
    border-radius: 1px;
    box-shadow: 0 10px 15px rgba (255,233,217)
  }



h2, h3 {  

font-size: 20px;
font-family: Avenir next;
color: white;


}

button { 

color: white ;
  background-color: transparent;
}

.my_button {
  width: 80%; padding-top:10px; padding-bottom:10px; font-weight: 800;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  border-radius: 5px;
  font-family: 'Lexend Mega', sans-serif;
}

.my_button:focus {
  outline: none;
  border-color: gold;
}

.btn_container {
  width: 80%;
  max-width: 600px;
  padding-bottom: 30px; 
  color: #FFBCA3;

}

.my_cntr { align-items: center; display: flex; flex-direction: column; }

body {
  text-align: center;
	background-color:#FFE9D9;
	line-height: 1;
	letter-spacing: 0px;
  color:#C44354;
  background: rgb(255,244,176);
  background: rgb(255,111,130);
background: linear-gradient(90deg, rgba(255,111,130,1) 0%, rgba(255,175,162,1) 26%, rgba(255,198,145,1) 43%, rgba(255,230,170,1) 66%, rgba(255,235,206,1) 100%);;
  }
  

p {
	font-size: 17px;
  font-family:  'Dosis', sans-serif;;
  color: #ff8878;

}



@media (max-width: 760px) {
   .container {
   width: 600px;  
  }
}


@media (max-width: 500px) {
   .container {
   width: 400px;  
  }
}

}
}
